@import "reset";
@import "animations";
@import "mixins/components/button";
/* 浮动开始 */
.fl, .pull-left{
  float: left;
}
.fr, .pull-right{
  float: right;
}
.clearfix::before, .clearfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {clear: both;zoom: 1;}
/* 浮动结束 */
.page-bg {
  background: #fff;
}
.desc {
  color: map_get($theme, desc);
}
.button {

}
